<div class="container">


<div class="row">


  <div class="col-md-4">
    <div class="alert alert-danger" role="alert">
      <h3> Cryptography </h3>
      <ul class="list-group">
  <li *ngFor="let p of problems | async " class="list-group-item">
  {{p  }}
  </li>

</ul>
    </div>
  </div>


 <div class="col-md-4">
    <div class="alert alert-danger" role="alert">
      <h3> Web </h3>
            <ul class="list-group">
  <li *ngFor="let p of problems | async " class="list-group-item">
  {{p }}
  </li>

</ul>
    </div>
  </div>


   <div class="col-md-4">
    <div class="alert alert-danger" role="alert">
      <h3> Réseau</h3>
            <ul class="list-group">
  <li *ngFor="let p of problems | async " class="list-group-item">
  {{p  }}
  </li>

</ul>
    </div>
  </div>


 
</div> 

</div><!--end of ocntainer-->  