<br>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<!--[formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)"-->
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

      <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['TeamName'].valid && submitted}">
        <label for="email">Team Name</label>
        <input  id="email" type="text" class="validate" [formControl]="loginForm.controls['TeamName']" />
      </div>

      <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && submitted}">
        <label for="password">Password</label>
         <input id="password" type="password" class="validate" [formControl]="loginForm.controls['password']" />
       </div>

   
     
       <button  class="btn waves-effect waves-light" type="submit" name="action">Login</button>
</form>


<div class="alert alert-danger" role="alert" *ngIf="!loginForm.controls['password'].valid && submitted
|| !loginForm.controls['TeamName'].valid && submitted ">
  <span>Please Enter All fields </span>
</div>

     </div>


     <div class="col-md-4"></div>
   </div>
 </div>
